<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>TipoDocumentoServlet</servlet-name>
        <servlet-class>trismegistoplanilla.servlets.TipoDocumentoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MenuServlet</servlet-name>
        <servlet-class>trismegistoplanilla.servlets.MenuServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsuarioServlet</servlet-name>
        <servlet-class>trismegistoplanilla.servlets.UsuarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PersonaServlet</servlet-name>
        <servlet-class>trismegistoplanilla.servlets.PersonaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FichaServlet</servlet-name>
        <servlet-class>trismegistoplanilla.servlets.FichaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TokenFichaServlet</servlet-name>
        <servlet-class>trismegistoplanilla.servlets.TokenFichaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EstadoCivilServlet</servlet-name>
        <servlet-class>trismegistoplanilla.servlets.EstadoCivilServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NacionalidadServlet</servlet-name>
        <servlet-class>trismegistoplanilla.servlets.NacionalidadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UbigeoServlet</servlet-name>
        <servlet-class>trismegistoplanilla.servlets.UbigeoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ParentescoServlet</servlet-name>
        <servlet-class>trismegistoplanilla.servlets.ParentescoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CargaFamiliarServlet</servlet-name>
        <servlet-class>trismegistoplanilla.servlets.CargaFamiliarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CarreraProfesionalServlet</servlet-name>
        <servlet-class>trismegistoplanilla.servlets.CarreraProfesionalServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NivelEstadoServlet</servlet-name>
        <servlet-class>trismegistoplanilla.servlets.NivelEstadoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NivelEstudioServlet</servlet-name>
        <servlet-class>trismegistoplanilla.servlets.NivelEstudioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EstadoEstudioServlet</servlet-name>
        <servlet-class>trismegistoplanilla.servlets.EstadoEstudioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FondoPensionServlet</servlet-name>
        <servlet-class>trismegistoplanilla.servlets.FondoPensionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SedeServlet</servlet-name>
        <servlet-class>trismegistoplanilla.servlets.SedeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AreaServlet</servlet-name>
        <servlet-class>trismegistoplanilla.servlets.AreaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SedeAreaServlet</servlet-name>
        <servlet-class>trismegistoplanilla.servlets.SedeAreaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CargoServlet</servlet-name>
        <servlet-class>trismegistoplanilla.servlets.CargoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EscalafonServlet</servlet-name>
        <servlet-class>trismegistoplanilla.servlets.EscalafonServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FichaLaboralServlet</servlet-name>
        <servlet-class>trismegistoplanilla.servlets.FichaLaboralServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AreaCargoServlet</servlet-name>
        <servlet-class>trismegistoplanilla.servlets.AreaCargoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TipoPagoServlet</servlet-name>
        <servlet-class>trismegistoplanilla.servlets.TipoPagoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AreaCargoTipoPagoServlet</servlet-name>
        <servlet-class>trismegistoplanilla.servlets.AreaCargoTipoPagoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoteFichaServlet</servlet-name>
        <servlet-class>trismegistoplanilla.servlets.LoteFichaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TipoEstadoFichaServlet</servlet-name>
        <servlet-class>trismegistoplanilla.servlets.TipoEstadoFichaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetalleLoteFichaDocenteServlet</servlet-name>
        <servlet-class>trismegistoplanilla.servlets.DetalleLoteFichaDocenteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExpedienteServlet</servlet-name>
        <servlet-class>trismegistoplanilla.servlets.ExpedienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoteAprobacionServlet</servlet-name>
        <servlet-class>trismegistoplanilla.servlets.LoteAprobacionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TipoExpedienteServlet</servlet-name>
        <servlet-class>trismegistoplanilla.servlets.TipoExpedienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfiguracionFichaServlet</servlet-name>
        <servlet-class>trismegistoplanilla.servlets.ConfiguracionFichaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TipoDocumentoServlet</servlet-name>
        <url-pattern>/TipoDocumentoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MenuServlet</servlet-name>
        <url-pattern>/MenuServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuarioServlet</servlet-name>
        <url-pattern>/UsuarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PersonaServlet</servlet-name>
        <url-pattern>/PersonaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FichaServlet</servlet-name>
        <url-pattern>/FichaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TokenFichaServlet</servlet-name>
        <url-pattern>/TokenFichaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EstadoCivilServlet</servlet-name>
        <url-pattern>/EstadoCivilServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NacionalidadServlet</servlet-name>
        <url-pattern>/NacionalidadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UbigeoServlet</servlet-name>
        <url-pattern>/UbigeoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ParentescoServlet</servlet-name>
        <url-pattern>/ParentescoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CargaFamiliarServlet</servlet-name>
        <url-pattern>/CargaFamiliarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CarreraProfesionalServlet</servlet-name>
        <url-pattern>/CarreraProfesionalServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NivelEstadoServlet</servlet-name>
        <url-pattern>/NivelEstadoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NivelEstudioServlet</servlet-name>
        <url-pattern>/NivelEstudioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EstadoEstudioServlet</servlet-name>
        <url-pattern>/EstadoEstudioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FondoPensionServlet</servlet-name>
        <url-pattern>/FondoPensionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SedeServlet</servlet-name>
        <url-pattern>/SedeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AreaServlet</servlet-name>
        <url-pattern>/AreaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SedeAreaServlet</servlet-name>
        <url-pattern>/SedeAreaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CargoServlet</servlet-name>
        <url-pattern>/CargoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EscalafonServlet</servlet-name>
        <url-pattern>/EscalafonServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FichaLaboralServlet</servlet-name>
        <url-pattern>/FichaLaboralServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AreaCargoServlet</servlet-name>
        <url-pattern>/AreaCargoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TipoPagoServlet</servlet-name>
        <url-pattern>/TipoPagoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AreaCargoTipoPagoServlet</servlet-name>
        <url-pattern>/AreaCargoTipoPagoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoteFichaServlet</servlet-name>
        <url-pattern>/LoteFichaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TipoEstadoFichaServlet</servlet-name>
        <url-pattern>/TipoEstadoFichaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetalleLoteFichaDocenteServlet</servlet-name>
        <url-pattern>/DetalleLoteFichaDocenteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExpedienteServlet</servlet-name>
        <url-pattern>/ExpedienteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoteAprobacionServlet</servlet-name>
        <url-pattern>/LoteAprobacionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TipoExpedienteServlet</servlet-name>
        <url-pattern>/TipoExpedienteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfiguracionFichaServlet</servlet-name>
        <url-pattern>/ConfiguracionFichaServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <error-code>404</error-code>
        <location>/vistas/response/404.jsp</location>
    </error-page>
</web-app>
