.tp-background-cover{
  background: rgb(242,245,246);
  background: -moz-linear-gradient(45deg, rgba(242,245,246,1) 0%, rgba(227,234,237,1) 37%, rgba(200,215,220,1) 100%);
  background: -webkit-linear-gradient(45deg, rgba(242,245,246,1) 0%,rgba(227,234,237,1) 37%,rgba(200,215,220,1) 100%);
  background: linear-gradient(45deg, rgba(242,245,246,1) 0%,rgba(227,234,237,1) 37%,rgba(200,215,220,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f5f6', endColorstr='#c8d7dc',GradientType=1 );
  background-repeat: no-repeat;
  background-attachment: fixed;
}



.fix-label{
  width: 100%;
  text-align: left;
}

.thumbnail{
  border:0px;
}

#rdFondoPension-error{
  color : #D84315;
}

.tp-countrie-icon{
  width:25px;
  height:20px;
  max-height: 16px !important;
  max-width:25px !important;
}

.so-card-2 {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.so-card-4 {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.so-card-5 {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.validation-error-label, .validation-valid-label{
  display: inline-block;
}
/*
.div-chk-experiencia-laboral{
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
}

#textChkExperienciaLaboral{
  position: relative;
  top: 8px;
  right: 8px;
}

.div-chk-fondo-pension{
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
}

#textChkFondoPension{
  position: relative;
  top: 8px;
  right: 8px;
}*/

.tp-fix-switch{
  display: flex;
  justify-content: space-around;
  align-content: center;
  margin-top: 9px;
}

